:root {
    --primary-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    --accent-color: #2196F3;
    --item-gap: 30px;
    --transition-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}